.DS_Store
.DS_Store?
@eaDir
*.xml
*.log
*.sqlite
*.pyc

/.storage
/deps
/tts
/custom_components
__pycache__
.HA_VERSION
.ios.conf
.cloud
.uuid
known_devices.yaml
plex.conf
webostv.conf
secrets.yaml
home-assistant*.*
home-assistant_v2.db
home-assistant.log
